:host {
    display: block;
    background-color: rgb(255, 255, 255);
}

app-sub-header {
    height: 42px;
    line-height: 42px;    
}

label {
    display: block;
    font-weight: 800;
    font-size: 11px;
    line-height: 1em;
}

:host > div {
    padding: 30px 15px;
    margin: 0;
}

form div {
    margin: 0 0 25px 0;
    text-align: left;
}

input {
    border:none;
    border-bottom: 1px solid;
    width: 100%;
    border-color: #ccc;
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 11px;
}

input:focus { 
    outline: none;
}

form {
    text-align: right;
}