:host {
    background-image: url('../../assets/background.jpg');
    min-height: 500px;
    display: block;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;    
}

div {
    display: grid;
    grid-template-columns: 320px 1fr;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    margin-top: 70px;
}